# name: "CI: Benchmarks"

# on:
#   push:
#     branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]

# env:
#   BUILD_TYPE: Release

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Update apt repo
#       run: sudo apt update

#     - name: Install tools manually
#       run: sudo apt install libtbb-dev libspdlog-dev libsimdjson-dev

#     - uses: actions/checkout@v4
#       with:
#         submodules: true

#     - name: Configure CMake
#       working-directory: ${{github.workspace}}/benchmark
#       run: cmake -B ${{github.workspace}}/benchmark/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

#     - name: Build
#       working-directory: ${{github.workspace}}/benchmark
#       # Build your program with the given configuration
#       run: cmake --build ${{github.workspace}}/benchmark/build --config ${{env.BUILD_TYPE}}

#     - name: Run benchmarks
#       working-directory: ${{github.workspace}}/benchmark
#       run: |
#         for f in ./*.out
#         do
#           ./$f
#         done
