name: "CI: Run examples on CMake"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Install tools manually
      run: |
        if [ ${{ matrix.os }} == 'ubuntu-latest' ]; then
          sudo apt update
          sudo apt install libtbb-dev libsimdjson-dev binutils
        elif [ ${{ matrix.os }} == 'macos-latest' ]; then
          brew install tbb simdjson
        fi

    - uses: actions/checkout@v4

    - name: Build DSF with examples and install
      working-directory: ${{github.workspace}}
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DDSF_EXAMPLES=ON
        cmake --build build -j$(nproc)
        sudo cmake --install build

    - name: Stalingrado
      working-directory: ${{github.workspace}}/examples
      run: ./stalingrado.out

    - name: Slow Charge TL
      working-directory: ${{github.workspace}}/examples
      run: ./slow_charge_tl.out 69 0.3 ./sctl 0 450

    - name: Slow Charge RB
      working-directory: ${{github.workspace}}/examples
      run: ./slow_charge_rb.out 69 0.3 ./scrb/ 900
